TT_BACKSTAGE_EMAIL=jamie@tiktokcreatornetwork.com
TT_BACKSTAGE_PASSWORD=admin1372Dextor!#&@
HEADLESS=true
TIMEOUT_MS=90000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=socialflame
DB_USER=root
DB_PASSWORD=secret
